extends ../layout/master

block title
 title Login

block content 
 h4 hello Login Master page
 
 .container 
  form(method='post', class='form-horizontal')
   div.form-group
    label Username: 
    input.form-control(name='MasterUserI', autofocus) 
   div.form-group 
    label Password: 
    input.form-control(name='MasterPassI', type='password') 
   div.form-actions 

     input.btn.btn-primary(type='submit', value='Login')
 